<h1>All The Bears!</h1>

<!-- see use of Comprehension here (and need to close the do with 'end' at the bottom -->
<ul>
    <%= for bear <- bears do %>
      <li><%= bear.name  %> - <%= bear.type %></li>
    <% end %>
</ul>
